.header {
    grid-column: span 2;
    width: 100%;
    min-height: 60px;
    background: #fff;
    padding: 5px 20px;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
    align-items: center;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}
.logo img {
    max-width: 100px;
    margin-right: 16px;
}
.logo__text {
    background: linear-gradient(to top right, #d97706, #db2777);
    color: transparent;
    -webkit-background-clip: text;
}
.loginBlock {
    margin-left: auto;
}