.header {
    grid-column: span 2;
    width: 100%;
    min-height: 60px;
    background: #fff;
    padding: 5px 20px;
    border-bottom: 1px solid #e5e7eb;
    display: flex;
}
.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}
.logo img {
    max-width: 100px;
    margin-right: 16px;
}