.author {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.author_avatar {
    width: 216px;
    height: 216px;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(to top right, #d97706, #db2777);
    margin-right: 32px;
}
.author img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
}