*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #f8f9fa;
  color: #333;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  width: 96%;
  margin: 40px auto;
}
.app-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}
.sidebar {
  padding: 40px;
  background-color: #fff;
  min-height: calc(100vh - 77px);
  border-right: 1px solid #e5e7eb;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

