*, *:before, *:after {
  box-sizing: border-box;
}
body {
  background: #f8f9fa;
  color: #333;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.container {
  max-width: 1200px;
  width: 96%;
  margin: 40px auto;
}
.app-wrapper {
  display: grid;
  grid-template-columns: 300px 1fr;
}

